$title
$symmetry c1
$redundant    file=coord
$coord    file=coord
$atoms
    basis =def2-TZVP
    jbas  =def2-TZVP
$basis    file=basis
$scfmo   file=mos
$scfiterlimit       30
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfdiis
$scforbitalshift  automatic=.1
$dft
    functional   pbe0
    gridsize   3
$scfconv   7
$ricore      500
$rij
$denconv 1d-7
$rundimensions
   natoms=6
$last SCF energy change = -115.63523
$charge from ridft
          0.000 (not to be modified here)
$jbas file=auxbasis
$closed shells
 a       1-9                                    ( 2 )
$energy    file=energy
$grad    file=gradient
$scfinstab rpas
$soes
 a            5
#$maxcor    500 MiB  per_core
$last step     ridft
$orbital_max_rnorm 0.29181072760548E-07
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-115.6352283812    -237.1130128212     92.79260955157    -11.07684823926    -.5833527532902     40.34537588095
$dipole from ridft
  x    -0.34911574389253    y    -0.54441206127942    z    -0.14501255403790    a.u.
   | dipole | =    1.6846652195  debye
$end
